{
    "curses": [
        {
            "name": "trueglutton",
            "base": 1, 
            "minTier": 1, 
            "maxTier": 7, 
            "friendlyName": "True Glutton", 
            "mainDescription": "Changes your minimum ^#00ebce;weight^reset; (LBS)",
            "details": [  ]
        },
        {
            "name": "bulkingseason",
            "base": 1, 
            "minTier": 1, 
            "maxTier": 3, 
            "friendlyName": "Bulking Season", 
            "mainDescription": "Slowly gain ^#00ebce;weight^reset; overtime",
            "details": [  ]
        },
        {
            "name": "caloricbomb",
            "base": 1,
            "minTier": 1, 
            "maxTier": 3, 
            "friendlyName": "Caloric Bomb", 
            "mainDescription": "Changes your minimum ^#00ebce;weight^reset; (LBS)",
            "details": [  ]
        }
    ]
}