{
    "tabs": [
        {
            "id": "active",
            "description": "Active curses",
            "icon": "active.png"
        },
        {
            "id": "codex",
            "description": "Codex",
            "icon": "codex.png"
        },
        {
            "id": "options",
            "description": "Options",
            "icon": "options.png"
        }
    ]
}