{
    "tabs": [
        {
            "id": "active",
            "friendlyName": "Active curses",
            "icon": "active.png"
        },
        {
            "id": "codex",
            "friendlyName": "Codex",
            "icon": "codex.png"
        }
    ],
    "options": [
        {
            "name": "disableWeightGain",
            "friendlyName": "Disable Weight Gain curses",
            "description": "Prevents from obtaining any Weight Gain curses"
        },
        {
            "name": "disableBloat",
            "friendlyName": "Disable Bloating curses",
            "description": "Prevents from obtaining any Bloating curses"
        }
    ]
}