{
    "trueGlutton": {
        "base": 1, 
        "minTier": 1, 
        "maxTier": 7, 
        "friendlyName": "True Glutton", 
        "mainDescription": "Changes your minimum ^#00ebce;weight^reset; (LBS)",
        "details": [  ]
    },
    "bulkUp": {
        "base": 1, 
        "minTier": 1, 
        "maxTier": 3, 
        "friendlyName": "Bulk Up", 
        "mainDescription": "Slowly gain ^#00ebce;weight^reset; overtime",
        "details": [  ]
    },
    "caloricBomb": {
        "base": 1,
        "minTier": 1, 
        "maxTier": 3, 
        "friendlyName": "Caloric Bomb", 
        "mainDescription": "Changes your minimum ^#00ebce;weight^reset; (LBS)",
        "details": [  ]
    }
}