{
  "tabs": [
      {
          "id": "active",
          "friendlyName": "Active curses",
          "description": "This menu shows all the currently active curses.\n\nClick on a curse to check its effects, buffs and debuffs.\n\nTo remove a curse, interact with NPC (WIP) in the Outpost.",
          "paneTitle": "Choose active curse"
      },
      {
          "id": "codex",
          "friendlyName": "Codex",
          "description": "This menu all the curses you discovered so far!\n\nClick on a curse to check its effects, buffs and debuffs, as well as its tiers.",
          "paneTitle": "Choose curse"
      }
  ],
  "curses": {
    "trueGlutton": {
        "base": 1, 
        "minTier": 1, 
        "maxTier": 7, 
        "permanent": true,
        "friendlyName": "True Glutton", 
        "description": "Changes your minimum ^#00ebce;weight^reset; (LBS)",
        "effects": [ 
          
        ]
    },
    "bulkUp": {
        "base": 1, 
        "minTier": 1, 
        "maxTier": 3, 
        "permanent": true,
        "friendlyName": "Bulk Up", 
        "description": "Makes you slowly ^#00ebce;weight gain^reset; overtime.",
        "effects": [ 
          
        ]
    },
    "caloricBomb": {
        "base": 1,
        "minTier": 1, 
        "maxTier": 3, 
        "permanent": false,
        "friendlyName": "Caloric Bomb", 
        "description": "Makes you rapidly ^#00ebce;weight gain^reset; overtime.",
        "effects": [ 
          
        ]
    },
    "gluttonistsGreatness": {
      "base": 1,
      "minTier": 1,
      "maxTier": 7,
      "permanent": true,
      "friendlyName": "Gluttonists Greatness",
      "description": "Greatly increases amount of weight gained whenever exploring ^#D25DAD;Gluttonists Feast Halls.",
      "effects": [
        
      ]
    }
  }
}